body{
  font-family:"Arial","Meiryo",sans-serif;
}

#first-heading{
  font-size:40px;
  text-align:center;
  letter-spacing:1.2em;
  border-bottom:solid 3px rgb(115,114,114);
  text-shadow:1px 1px 2px gray;
}

#basic > p{
  font-weight:bold;
}

.text-M{
  color:skyblue;
}
.text-p{
  color:pink;
}

p {text-align:center;
}

.text-pink{
  color:rgb(255,192,203);
  text-align:center;
}

.text-skyblue{
  color:skyblue;
  text-align:center;
}
