

h1,p,body{
  margin:0;
}
p,a{
  font-size:20px;
}

#h1 {
  margin:0 0 20px 0;
  padding:0 0 20px 0;
  background-color: rgb(244,79,79);
  text-align:center;
}

header h1{
  color:rgb(255,255,255);
}

main{
  padding:10px;
}
#parent{
  padding:10px 10px 10px 10px;
  margin:20px 0;
  display:flex;
  justify-content:space-around;
}

.contents{
  border:solid 3px rgb(238 204 204);
  flex-basis:25%;
  padding:10px 15px;
  margin:20px 0;
  text-align: center;
}
/* h2要素設定 */
.temp{
  font-size:25px;
  border-bottom:dotted 3px rgb(236,122,122);
}
h2::before{
content:"●";
color:rgb(239,111,139);
}
.contents > p:nth-of-type(2)::first-letter{
  color:rgb(97,206,249);
  font-weight: bold;
}
a:visited {
color:rgb(193,234,251);
}
a:hover{
  color:rgb(245,178,168);
}
footer {
  background-color: rgb(244,79,79);
  color:rgb(255,255,255);
  text-align:center;
}
@media screen and (max-width: 768px){
  #parent{
    display:block;
  }
}

@media screen and (max-width: 768px){
  .temp{
    font-size:30px;
  }
}
@media screen and (max-width: 768px){
  p{
    font-size:25px;
  }
}


img{
  padding:10px;
 
  width:70%
}